*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}
body {
  min-height: 100vh;
  background-color: #333;
  color: #eee;
}
header,
main,
footer {
  width: 80vw;
  padding: 1rem 2rem;
  margin: 0 auto;
}
header h1 {
  color: orange;
}
header h2 {
  color: orangered;
}
a:hover {
  background-color: #3498db;
  color: black;
}

a.previous {
  background-color: #5421bb80;
  color: white;
/*   position: absolute;
  bottom: 20px; */
   position:fixed;
   bottom:20px;
  left: 8px;
  border-radius: 4px;
}


.round {
  border-radius: 50%;
}
main {
  display: flex;
  justify-content: space-between;
}
section {
  flex: 0 1 30vw;
  padding: 2rem;
  border: 1px solid #fff;
}
p {
  line-height: 1.7;
  margin: 1.5rem 0;
}
a {
  color: orange;
}
img {
  width: 100%;
}

.draggable {
  cursor: grab;
  padding: 0;
  margin: 1rem 0;
  /* outline: 1px solid gold; */
}
section.drop {
  height: 1000px;
  display: grid;
  gap: 0.5rem;
  grid-template-rows: 3rem 1fr;
}
section.drop img {
  z-index: -1; 
}
.dropzone {
  background-color: #111;
  min-height: 300px;
  width: 100%;
}
.dropzone.over {
  border: 1px solid gold;
  background-color: hsla(90, 100%, 90%, 0.1);
}
.wheeeee {
  background-color: greenyellow;
  color: black;
  border: 1px solid rebeccapurple;
  font-size: 2rem;
  position: absolute;
  transform: translateX(-100vw);
}
footer img {
  width: 100px;
  position: absolute;
  transform: translateX(-100vw);
}
